[Desktop Entry]
Type=Application
Exec=/proaluno/mate.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[pt_BR]=mateusp
Name=mateusp
Comment[pt_BR]=mateusp
Comment=mate-usp

